/*ESTILO DE PAGINA EN DISPOSITIVOS MOVILES*/

.IMG_icono{
	max-width:10vw;
}

a{
	text-decoration:none;
}

.a_fecha{
	font-size:2em;
	
	color:var(--color1);
	
	text-align:center;
	vertical-align:middle;
	margin:auto;
}

.div_agregar{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	
	
	padding-left:10vw;
	padding-right:10vw;
	padding-top:2vw;
	padding-bottom:2vw;
}

button{
	min-width:15vw;
	min-height:5vw;
}

.btn_agregar{
	width:40vw;
	height:6vh;
	
	border-radius:15px;
	
	font-size:2em;
	font-weight:bold;
}


.tarea {
	
	height:30vh;
	width:70vw;
	
	margin-top:3vh;
	margin-bottom:6vh;
	padding:20px;
	
	font-size:4em;
	color:var(--color1);
	
	font-family:rubik;
	text-align:left;
	line-height:1.3;
	
	letter-spacing:2;

}

ul{
	list-style-type:none;
	
	display:grid;
	
	grid:auto auto auto;
	
	
}

input.check_seleccion{
	appearance: none;

	cursor:pointer;
	
	height:80px;
	width:80px;
	
	margin-right:20px;
	
	background-color:var(--color3);
	color:red;
}

input.check_seleccion:checked{
	height:80px;
	width:80px;
	
	margin-right:20px;
	background-color:var(--color4);
	background-image:url("../IMG/check.png");
	background-size:cover;
	background-position:fixed;
}

li{
	display:flex;
	
	flex-direction:row;
	align-items:center;
	justify-content:center;

	font-size:2.4em;
	font-weight:500;
	
	margin-bottom:2vh;
	min-width:4vw;
	min-height:10vh;
	
	text-transform:capitalize;
	
	background-color:var(--color5);
	
	border-radius:25px;
	
	opacity:1;
	
	animation:btn_in 1s;
	transition:opacity 1s;
	transition:left 1s;
	
	}

.list_vacio{
	opacity:0;
}

.eliminado{
	display:none;
	
	position:absolute;
	
	left:300;

}

li div{
	display:flex;
	
	flex-direction:column;
	align-items:center;
	justify-content:center;
	
	max-width:60vw;
}



li p{
	margin-right:2vh;
	margin-top:3vh;
	margin-bottom:2vh;
	
	color:var(--color4);
	
	text-align:justify;
	
	max-width:100%;
	
	word-break:break-all;
}

li i{
	
	font-size:0.8em;
	font-weight:300;
	
	color:var(--color3);
}

h2{
	font-size:3em;
}
h3{
	font-size:1.2em;
}

i{
	max-width:90%;
	text-align:center;
	
	margin-top:0.1vh;
	margin-bottom:3vh;
}

#div_escritura{
	opacity:1;
}

#div_escritura h1{
	font-size:6em;
	
	margin-top:13vh;
	
	color:var(--color3);
}

.selected{

	background-color:#5E2129;
}

img.basura{
	display:none;

	max-width:70px;
	margin-left:30px;
}

img.activa{
	display:block;

	max-width:70px;
	margin-left:30px;
}