canvas{
	background-color:lightgray;
	
	margin-left:5%;
	margin-top:5%;
}

section#botones{
	width:100%;
	text-align:center;

	position:fixed;
	bottom:50;
	left:0;
	}

button{
	width:20vw;
	height:20vw;
	
	font-size:1.7em;
}

button#btn_5{
	width:60vw;
	height:12vw;
}