/*ESTRUCTURA GENERAL*/

html{
	scroll-behavior:smooth;
	
}

*{
	padding:0;
	margin:0;
	
	/*border:0.5px solid yellow;*/
}

body{
	font-family:Rubik, sans-serif;
	font-weight:300;

	width:100vw;
	height:auto;
	
	background-color:var(--color5);
}

header{
	
}

nav{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	
	padding-left:10vw;
	padding-right:10vw;
	padding-top:5vw;
	padding-bottom:5vw;
}

main{
	background-color:var(--color4);
	
	padding-top:5vh;
	padding-bottom:10vh;
	
	border-radius:250px 0px 250px 0px;
}

section{
	width:80vw;
	min-height:70vh;
	
	margin:auto;
}

.pantalla2{
	width:100%;
	height:100vh;
	
	background-color:var(--color1);
	
	position:fixed;
	top:-300vh;
	left:0;
	
	opacity:0;
	
	z-index:1;
	
	
	transition:top 1s ease;
	transition:opacity 1s ease;
}
.activo{
	width:100%;
	height:100%;
	
	background-color:var(--color1);
	
	position:fixed;
	top:0;
	left:0;
	
	opacity:0.9;
	
	transition:top 1s ease;
	transition:opacity 1s ease;
	
	z-index:1;
}
aside.x{


	display:flex;
	flex-direction:column;
	
	content-justify:space-around;
	align-items:center;
	
	text-align:center;
	
	position:fixed;
	
	top:15vh;
	left:300vw;
	
	margin:auto;
	
	width:90vw;
	height:70vh;
	
	background-color:var(--color5);
	
	border-radius:35px;
	
	opacity:1;
	
	z-index:1;
	
	shadow-box:5px 5px 5px black;
	
	transition:left 1s ease;
}

aside.activo{
	position:fixed;
	
	top:15vh;
	left:5vw;
	
	margin:auto;
	
	width:90vw;
	height:70vh;
	
	background-color:var(--color5);
	
	border-radius:35px;
	
	opacity:1;
	
	z-index:1;
	
	transition:left 1s ease;
}

footer{

}