/*ESTRUCTURA GENERAL*/

html{
	scroll-behavior:smooth;
}

*{
	padding:0;
	margin:0;
	
	border:1px solid red;
}

body{
	background-color:var(--color4);
}

header{
	min-height:20vh;
	
	background-color:var(--color3);
}

main{
	width:100%;
	min-height:50vh;
	
	background-color:var(--color2);
}

aside{
	display:none;
}


footer{
	min-height:20vh;
	
	background-color:var(--color3);
}
