/*ESTILO PARA PC y LAPTOP*/

@media screen and (min-width:500px){
	
	
img#sandwich_btn{
	display:none;

	position:fixed;
	right:20px;
	top:20px;

	width:10vw;
	height:10vw;
	
	/*background: url("../IMG/sandwich.png");*/
	background-color:white;
	background-position:center;
	background-size:cover;
	
	z-index:10;
}
	
.x{
	display:none;
	color:white;
	font-size:2em;
	
	text-decoration:none;
	
	position:fixed;
	top:25vh;
	right:5vw;
	
	z-index:4;
}

.none{
	display:none;
	
	position:fixed;
	
	top:30vh;
	
	width:80vw;
	
	opacity:1;
	
	z-index:3;
}
.none_btn{
	display:none;
	
	font-size:2em;
	text-decoration:none;
	
	color:white;
	
	position:fixed;
	
	top:31vh;
	left:12vw;
	
	width:80vw;
	
	opacity:1;
	
	z-index:4;
	}
img#sandwich_btn{
	display:none;
	
	position:fixed;
	right:20px;
	top:20px;

	width:10vw;
	height:10vw;
	
	background: url("../IMG/sandwich.png");
	background-color:white;
	background-position:center;
	background-size:cover;
	
	z-index:10;
}


nav{
	display:block;

	text-align:center;
	
	/*display:flex;*/
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	font-size:1.2em;
}

.menu{
	display:none;
	
	position:fixed;
	
	right:-1000;
	top:2vh;
	
	width:90%;
	height:90%;
	
	background-color:var(--color4);
	
	z-index:5;
	
	transition:right 1s;
	
}

.menu_activo{
	display:none;
	
	position:fixed;
	
	right:0;
	top:2vh;
	
	width:90%;
	height:90%;
	
	background-color:var(--color4);
}


.cover_activo{
	
	display:none;
	
	width:100vw;
	height:100vh;
	
	background-color:black;
	
	z-index:3;
	
	position:fixed;
	top:0;
	right:0;
	
	opacity:0.7;
	
	animation:cover-in 1s ease;
}

.imagen_activa{
	display:none;

	width:90vw;
	
	position:fixed;
	top:30vh;
	right:5vw;
	
	z-index:3;
}
.cover_img_activo{
	display:none;
	
	width:100%;
	height:100%;
	
	background-color:black;
	
	opacity:0.7;
	
	z-index:1;
	
	position:fixed;
	top:0;
	left:0;
}


#fondo{
	display:none;
	
	
	width:100%;
	
	opacity:0.7;
	
	z-index:2;

}

aside section{
	display:none;

	width:80%;
	height:80%;
	
	margin-top:10%;
	margin-left:10%;
	
	display:flex;
	
	flex-direction:column;
	
	font-size:1.9em;
	text-align:center;
	
	line-height:5;
}
footer div{
	display:flex;
	justify-content:space-around;
	flex-direction:row;
	align-items:center;
	
	height:15vw;
	width:60vw;
	
	margin:auto;
	
	margin-bottom:5vh;
}

img.redes{
	width:7vw;
	height:7vw;
	
	max-width:8vw;
	max-height:8vw;
	
	
/*	background: url("../IMG/no-found.png");*/
	background-position:center;
	background-size:cover;
}


img.personaje_img{
	width:10%;
	
	margin-top:2vh;
}
	}