@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inter:wght@200;500;800;900&family=Roboto:wght@300;500;900&family=Rubik:wght@300;500;700&display=swap');

html{
	scroll-behavior:smooth;
}

*{
	font-family:roboto, sans-serif;
	
	padding:0;
	margin:0;
	
	border:solid 1px red;
}

body{
	background-color:var(--color1);
	
	width:100%;
}

header{
	min-height:10vh;
	width:100%;
	
	
	position:fixed;
	top:0;
	z-index:10;
	
	background-color:var(--color2);
}

nav{
	display:flex;
	
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
	
	height:0vh;
	width:100%;
	
	position:relative;
	top:-7000px;
	
	opacity:0%;
	
	transition:opacity;
	transition-duration:1.4s;
	transition-delay:0.1s;
	}
nav.activo{
	display:flex;
	height:80vh;
	top:0;
	opacity:100%;
}

aside{
	display:none;
	width:60vw;
}

main{
	margin-top:13vh;
	
	height:auto;
	width:100%;
}

section{
	min-height:50vh;
	
	padding:50px 20px;
	
	background-color:var(--color3);
}

footer{
	height:15vh;
	
	text-align:center;
	
	padding-top:10%;
	
	font-weight:300;
	font-size:0.8em;
}

img.new{
	max-width:50px;
	max-height:50px;
	
	content:url("../IMG/no-found.png");
}
