@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Gabarito:wght@500;900&family=Inter:wght@200;500;800;900&family=Roboto:wght@300;500;900&family=Rubik:wght@300;500;700&display=swap');

:root{

	--color1:#20228A;
	--color2:#333BD9;
	--color3:#0EB7F2;
	--color4:#017CC5;
	--color5:#ffffff;
	
}