/*--------- TODO ---------*/
*{
	padding:0;
	margin:0;
	
	line-height:2;
}

/*--------- VARIABLES ---------*/
:root{
	--x:black;
	--height:100%;
}

/*--------- MEDIA QUERY ---------*/
@media screen and (min-width: 1060px){
	footer p{
		text-align:center;
		color:red;
	}
}

/*--------- ANIMACION ---------*/
@keyframes llega{
	0%{top:-70px; opacity:0%;}
	50%{opacity:100%; color:green;}
	70%{top:0;}
	100%{color:red);}
}

@keyframes arriba{
	0%{transform:scale(100%);}
	30%{transform:scale(85%)}
	60%{transform:scale(120%)}
	90%{transform:scale(95%)}
	100%{transform:scale(100%)}
	
}
@keyframes shake{
	0%{transform:rotate(0deg);}
	30%{transform:rotate(-5deg)}
	60%{transform:rotate(4deg)}
	90%{transform:rotate(-3deg)}
	100%{transform:rotate(0deg)}
	
}

@keyframes btnColor{
	0%{background-color:orange;}
	50%{background-color:blue;}
	100%{background-color:orange;}
}
/*--------- ESTRUCTURA GENERAL ---------*/
body{
	
	min-width:100%;
	height:570px;
	
}
header{

	
	width:100%;
	max-height:40%;
}
main{

	
	width:100%;
	height:var(--height);
	
}
aside{
	
	
	background-color:orange;
	border-radius:10px;
	
	margin-right:10px;
	
	
	width:15%;
	height:var(--height);
	
	
	float:left;
	
	transition:2s;
}

aside:hover{
	background-color:blue;
}

aside ol li{
	margin:10px 40px;
}
footer{

	
	width:100%;
	
	text-align:center;
	
	padding-top:5px;
}
div{
	

}

/*--------- SELECTORES ---------*/
li.link_li{
	list-style-type:none;
	
	display:inline-block;
	padding:10px 40px;
	
	
	position:relative;
	bottom:20px;
}

li.link_li:hover{
	background-color:orange;
	border-radius:7px;
		
	animation:btnColor 2s ease-in infinite;
}
img.logo{
	max-width:130px;
	
}

img.logo:hover{
	
	animation:arriba 3s infinite;
}

li.link_logo{
	list-style-type:none;
	
	display:inline-block;
	padding-left:40px;
	padding-right:50%;
	
	
}

a{
	text-decoration:none;
}
section div.imagenes{

	display:flex;
	
	margin-left:10px;
	max-width:100%;
}

img.imagen{
	max-width:300px;
	max-height:300px;
	
	border-radius:10px;
	
}

img.imagen:hover{
	animation-delay:2s;
	animation:shake 0.8s infinite;
	
}

section.main{
	width:84%;
	
	display:inline-block;
}

section section{
	height:var(--height);
}

.division{
	display:flex;
}
.division section{
	color:var(--x);
	display:inline-block;
	
	width:48%;
}
p{
	display:block;
	text-align:center;
}
figcaption{
	color:black;
	position:relative;
	
	
	animation:llega 2s ease-in;
}

hr.line{
	width:80%;
	
	position:relative;
	left:10%;
	
}
footer p{
	
	padding-bottom:20px;
	padding-top:20px;
}