* {
	margin:0;
	padding:0;
	
	color:#7E7474;
}

button{
	width:100%;
	height:10%;
}

a{
	color:red;
}

/*---------VARIABLES-----------*/

:root{

	--x:#DDDDDD;
	--y:#222831;
}

/*---------ANIMACIONES-----------*/


@keyframes rotacion360{
	0%{transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}

@keyframes color{
	0% {color:red;}
	50% {color: orange;}
	100% {color:black;}
}

@keyframes sacudida{
	0%{left:0%; }
	10%{left:5%; background-color:red; color:white;}
	20%{left:-5%;}
	60%{left:2%;}
	80%{left:-2%;}
	100%{left:0%;}
}

@keyframes flotar{
	0%{top:0px;}
	50%{top:5px;}
	100%{top:0px;}
}

@keyframes sorpresa{
	0%{bottom:-30px;opacity:0%;font-size:7pt;}
	50%{bottom:-5px;opacity:50%;font-size:18pt;}
	100%{bottom:0px;opacity:100%;}
}

/*---------ESTRUCTURA GENERAL-----------*/
body{
	
	width:100%;
}

header{

		
		min-width:100%;
		min-height:20%;

}

ul{
	list-style-type:none;
	
	
	filter:opacity(100%);
	
	width:100%;
	height:18%;
	
	color:black;
	
}

li.link_li{

	border-style:none;
	border-width:3;
	
	display:inline-block;
	
	width:auto;
	height:auto;
	
	text-align:center;
	vertical-align:middle;
	
	padding:15px 25px;

}
img.logo{
	max-width:120px;
	margin-right:800px;
}


main{
	
	width:100%;
}

section{
	
	width:100%;
	padding-left:20%;
}

div.texto{
	width:20%;
	padding:10px 40px;
	padding-top:130px;
	
	
	float:left;
	display:inline-block;
}

div.imagen{
	width:30%;
	
	
	display:inline-block;
}

h1.comida{
	font-size:32pt;
	
	text-align:left;
	
	position:relative;
	top:0px;
	
	animation:flotar 2s infinite linear;
}
p.texto_plato{
	font-size:14pt;
	
}

button{
	width:40%;
	height:4%;
	
	margin-top:10px;
	
	border-radius:20px;
	border-style:none;
	
	background-color:white;
	color:black;
	
	text-transform:uppercase;
	
	position:relative;
	animation:sacudida 2s infinite ease;
}

img.comida{
	max-width:480px;
	
	filter:drop-shadow(4px 4px 6px black);
	
	animation:rotacion360 38s infinite linear;
	
}


main div h1{
	font-size:18pt;
	
	position:relative;
	bottom:0px;
	
	opacity:100%;
	
	text-align:center;
	
	animation:sorpresa 3s 1 ease-out;
}

h1.sorpresa{
	animation-delay:3s;
	animation-name:flotar;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

footer{
}


hr.line{
	width:80%;
	
	margin-top:50px;
	margin-bottom:20px;
	margin-left:10%;
}
p.footer_p{
	color:#BBBBBB;
	
	text-align:center;
}