/*-- AJUSTE GENERAL --*/
html{
	scroll-behavior:smooth;
}

*{
	margin:0;

}

/*-- VARIABLES --*/
:root{

--c1:#3C3F85;
--c2:#DCDEF0;
--c3:#846795;
--c4:#9C9CE0;
--c5:#FCFDFD;

}

/*-- ANIMACION --*/
@keyframes welcome{
	0%{width:120px; filter:brightness(100%);}
	50%{width:180px; filter:brightness(370%);}
	100%{width:120; filter:brightness(100%);}
} 

/*-- ESTRUCTURA GENERAL --*/
body{ 
	font-family:'roboto', sans-serif;
	color:var(--c5);
	
	background-color:var(--c1);
	
	
	line-height:1;
 }
header{ 
	background-color:var(--c5);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
	}
main{  }
footer{ 
	text-align:center;
	font-size:0.7em;
	
	height:100px;
 }


/*-- ETIQUETAS HTML --*/
nav{ 
	display:none;
	text-align:center;
 }
	.logo{
		width:120px;
		filter:brightness(170%);
		
	}
section{ 
	text-align:center;
	height:60vh;
	
	
	padding-left:9vw;
	padding-right:9vw;
	
	display:flex;
	flex-direction:column;
	justify-content:center;
	
 }

.sec_2{
	background-color:var(--c3);
	
	margin-bottom:40px;
}
.sec_3{
	background-color:var(--c4);
	
	height:80vh;
}

h1{
	font-size:3em;
	font-weight:bold;
	text-transform:uppercase;
	
	color:var(--c4);
	
	transition:1s ease;
}
h2{
	font-size:2em;
	text-transform:uppercase;
}
h3{
	font-size:1.4em;
		
	padding-top:3vh;
	padding-bottom:2vh;
}

p{
	font-size:0.8em;
	line-height:1.5;
	
	padding-bottom:2vh;
}

.copy{
	padding-top:3vh;
}
form{
	
	text-align:center;
	
	
}

input{
	width:50vw;
	height:14vw;
	
	max-width:160px;
	max-height:45px;
	
	background-color:var(--c1);
	color:var(--c4);
	
	border-radius:15px;
	
	border:2px solid var(--c2);
	
	margin-bottom:2vh;
	
	text-transform:uppercase;
	font-weight:bold;
	
	
}
button{
	width:50vw;
	height:14vw;
	
	max-width:160px;
	max-height:45px;
	
	margin-left:auto;
	margin-right:auto;
	
	background-color:var(--c1);
	color:var(--c4);
	
	border-radius:15px;
	
	border:2px solid var(--c2);
	
	margin-bottom:2vh;
	
	text-transform:uppercase;
	font-weight:bold;
}

.div_tabla{
	text-align:center;
	
	display:flex;
	flex-direction:column;
	
	
}

table{
	
	
	border:groove var(--c2);
	
	width:70vw;
	
	min-width:230px;
	max-width:590px;
	
	
	margin:3vh auto 3vh auto;
	
}

th{
	text-align:center;
	background-color:var(--c3);
}

td{
	text-align:center;
	
	background-color:var(--c2);
	color:red;
}

b{
	color:yellow;
}

/*-- MEDIA QUERY --*/
@media screen and (min-width:590px){

body{
}

header{
	align-items:flex-end;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	
	
	color:green;
	width:100%;
	
	
	
}

.div_logo{
	
	width:40vw;
}

.div_link{
	width:40vw;
	
	padding-bottom:20px;
	padding-right:50px;
}

.logo:hover{
	animation:welcome 1s;
}

nav{
	width:40vw;
	display:inherit;
	text-align:right;
	
}

.menu_link{
	text-decoration:none;
	color:red;
	
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:20px;
	
	transition:2s ease;
}

.menu_link:hover{
	background-color:var(--c1);
	color:yellow;
	
	font-weight:bold;
	
}

section{ 
	text-align:center;
	height:60vh;
	
	
	padding-left:17vw;
	padding-right:17vw;
	
	display:flex;
	flex-direction:column;
	justify-content:center;
	
 }

 h1:hover{
	font-size:5em;
	color:yellow;
	transform:rotate(-13deg);
 }

p{
	font-size:1.2em;
	line-height:2;
}
 
 form{
	display:inherit;
	flex-direction:row;
	justify-content:center;
 }
 
 input{
	
	margin-left:20px;
	
 }
 
 .div_tabla{
	text-align:center;
	display:flex;
	flex-direction:column;
	
 }
 
 button{
	margin-left:auto;
	margin-right:auto;
 }
 
 table{
	margin:3vh auto 3vh auto;
	
	min-width:230px;
	max-width:590px;
	
	
 }
 

}