body{
	background-color:white;
	color:gray;
}

header{
	/*background-color:red;*/
	
	width:100%;
	height:10%;
	
	max-height:80px;
	min-width:70px;
}

main{
	/*background-color:beige;*/
	
	width:100%;
	height:max-height;
	min-height:650px;
	
	text-align:center;

	}

footer{

	/*background-color:pink;*/
	
	text-align:center;
	height:3%;
	min-height:20px;
}

h1{
	padding-bottom:0;
	margin-bottom:0;
	
	font-size:40px;
	color:rgb(70,0,185,255);
}
p{

	line-height:1.5;
}
i {
	padding-top:0;
	margin-top:10;
}

section.titulo{
	margin-bottom:10%;
	max-height:70px;
}

img#main_logo {
	width:20%;
	min-width:80px;
	max-width:120px;
	
	/*background-color:blue;*/
	
	float:left;
	}
	
nav{
	/*background:gray;*/
	width:60%;
	
	display:inline;

}

ul.nav_ul{
	list-style-type:none;
	margin:0;
	padding:0;
	margin-left:50%;
	min-width:280px;
	
}

li.nav_li{
	display:inline-block;
}

li.nav_li a.nav_link {

	margin-top:20px;
	display:block;
	padding:10px 20px;
	text-decoration:none;
	color:black;
	
	/*background-color:blue;*/
}

li.nav_li a:hover {
	background-color:rgb(70,0,185,255);
	color:white;
	}

/*Codigo tomado de ChatGPT*/
.faq .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 6s ease;
}

.faq .question {
  font-weight: bold;
  cursor: pointer;
}

.faq input[type="radio"]:checked ~ .answer {
  max-height: 300%; /* Ajusta la altura deseada */
 
}

/*mi codigo...*/

.faq {
	width:90%;
	margin-left:15px;
}

label.question{
	margin-left:17px;
	color:rgb(70,0,185,255);
}

b.signo {
	color:rgb(70,0,185,255);
	font-size:18px;
	
}

.boton_login {
	width:90px;
	height:40px;
	
	border-color:rgb(70,0,185,255);
	background-color:white;
	color:rgb(70,0,185,255);
}